* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background: rgb(255, 102, 7);
  box-sizing: border-box;
}

input[type=text] {
  background-color: lightgray;
  color: gray;
  font-style: italic;
  font-size: 14px;
  width: 400px;
}

input[type=submit] {
  background-color: lightgray;
  color: black;
  font-style: italic;
  font-size: 14px;
  width: 50px;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 10%;
}

input[type=submit]:hover {
  color: rgb(255, 102, 7);
}

input[type=text]:focus {
  border: 3px solid rgb(255, 102, 7);
}

.testli {
  font-size: 20px;
  padding: 5px;
  color: rgb(255, 253, 234);
  background-color: rgb(255, 102, 7);
  font-family: 'Boogaloo', cursive;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.testli:nth-child(2n) {
  background-color: rgb(46, 70, 89);
  color: rgb(255, 102, 7);
}

.testli:hover {
  color: rgb(119, 0, 0);
}

.fa-plus-square-o {
  color: rgb(255, 253, 234);
}

.fa-plus-square-o:hover {
  color: rgb(119, 0, 0);
}

.fa-trash {
  margin: 0 15px;
  color: rgb(119, 0, 0);
}

.fa-trash:hover {
  color: rgb(255, 253, 234);
}

.fa-pencil-square-o {
  color: rgb(119, 0, 0);
}

.fa-pencil-square-o:hover {
  color: rgb(255, 253, 234);
}

.modal {
  width: 30%;
  height: 60%;
  position: fixed;
  overflow: scroll;
  top: 25%;
  left: 35%;
  background-color: rgb(127, 99, 142);
  font-size: 2rem;
  color: black;
  font-family: 'PT Sans', sans-serif;
  padding: 15px;
}

.modal-close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  background: rgb(127, 99, 142);
  border: none;
}

.input-title {
  
}

.input-ingridients {
  height: 120px;
}

.input-directions {
  height: 120px;
}

.fa-plus-square-o {
  background: rgb(46, 70, 89);
  border: 1px solid rgb(46, 70, 89);
}